[Unit]
Description=Futures CTP & history
After=network.target

[Service]
User=wxf
WorkingDirectory=/home/wxf/workspace/futures-ctp
ExecStart=/home/wxf/workspace/futures-ctp/.venv/bin/python -m main
Restart=always

[Install]
WantedBy=multi-user.target
